aiobotocore
boto3
botocore
Faker==38.0.0
fastapi==0.121.2
fitz==0.0.1.dev2
logfire==4.14.2
openai==2.8.0
psycopg2_binary==2.9.10
pydantic_ai==1.17.0
pydantic_settings==2.12.0
pymupdf==1.26.6
python-dotenv==1.2.1
starlette==0.50.0
