Faker==37.1.0
fastapi==0.115.12
psycopg2_binary==2.9.10
pydantic==2.11.3
pydantic_settings==2.8.1
python-dotenv==1.1.0
starlette==0.46.2
stripe==3.5.0
openai==1.70.0
PyMuPDF==1.25.3
python-multipart==0.0.20
aiobotocore==2.23.2
logfire==3.20.0
logfire-api==3.23.0
pydantic_ai==1.17.0